*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    place-items: center;
    background-color: #2c2c2c;
    color: #eee;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
}

.main{
    display: flex;
    gap: 150px;
    transform: translateY(-30px);

    .left{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h3 {
            font-size: 30px;
            margin-bottom: 30px;
            
            .coin-count{
                display: block;
                color: rgb(255, 203, 48);
                font-weight: 700;
                text-shadow: 0px 0px 3px rgb(168, 134, 31);
            }
        }
    }
    
    .right{
        border-radius: 3px;
        border: 2px solid rgb(136, 136, 136);

        .top-nav{
            display: flex;
            font-weight: bold;
        }

        .top-nav> div {
            position: relative;
            width: 140px;
            height: 30px;
            background-color: red;
            text-align: center;
            padding-top: 5px;
            font-size: 16px;
        }

        .top-nav> div::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: black;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .top-nav> div:hover::before {
            opacity: 0.3;
        }

        .top-nav>:first-child{
            background-color: blue;
        }

        .upper-half, .bottom-half{
            position: relative;
            box-sizing: content-box;
            height: 260px;
            width: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-gutter: stable right;
        }

        .upper-half{
            border-bottom: 4px solid rgb(245, 200, 105);
        }

        .closed{ /* this is used for the sections, to indicate when they are not visible*/
            display: none;
        }

    }
}

.coin-img-container{
    position: relative;
}

#big-coin-img{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 100px;
    left: calc(50% - 100px);
}

#big-coin-img:hover{
    opacity: 0.9;
    cursor: pointer
}

#big-coin-img:active{
    animation: click-bounce 0.1s ease 0s 1 normal none;
}

@keyframes click-bounce {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.05)
    }
    100%{
        transform: scale(1)
    }
}

.upgrades-section, .skills-section, .buildings-section{
    position: absolute;
    --padding: 10px;
    left: var(--padding);
    padding-bottom: var(--padding);
    top: 0px;
    width: calc(100% - var(--padding) *2);

    .item-container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        overflow-x: visible;
        width: 100%;
        height: fit-content;
        border: 4px solid rgb(175, 175, 175);
        background-color: #eee;
        color: black;
        padding: 10px 20px;
        margin-top: 10px;

        .left-section{
            display: flex;

            .item-img{
                width: 55px;
                height: 55px;
                margin-right: 20px;
            }

            .mid-section{

                width: fit-content;

                *{
                    margin: 0;
                }

                h4{
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                
                .power-ups{
                    display: block;
                }

                .cost-info{
                    display: flex;
                    align-items: center;
                    justify-items: left;

                    .coin-emoji{
                        position: relative;
                        left: -4px;
                    }
                }
            }
        }
        

        .right-section{
            .level-display{
                display: flex;
            }

            .power-up-display{
                display: none;
                text-align: center;
                width: min-content;
            }
        }

    }

}

.upgrades-section{
    
    .item-container .left-section .mid-section{
        h4{
            margin: 0;
        }
        
        .power-ups{
            display: flex;
            height: 22px;
            align-items: center;
            justify-content: left;
            flex-wrap: nowrap;

            .star{
                width: 7px;
                text-shadow: 0px 0px 3px rgb(0, 0, 0);
            }

            .star::before{
                content: '\2B50';
            }
        }
    } 

    .item-container.power-up{
        border: 4px solid rgb(13, 0, 133);
    
        .left-section .mid-section{

            h4{
                background: linear-gradient(
                    270deg,
                    red,
                    orange,
                    yellow,
                    green,
                    cyan,
                    blue,
                    violet,
                    red,
                    orange,
                    yellow,
                    green,
                    cyan,
                    blue,
                    violet,
                    red
                );
                background-clip: text;
                background-size: 200% 100%;
                color: transparent;
                animation: rainbowAnimation 5s linear infinite;
            }

        }

        .right-section{
            .level-display{
                display: none;
            }

            .power-up-display{
                display: block;
                font-weight: bold;
                color: #ffd000;
                text-shadow: 0px 0px 10px rgb(255, 191, 0);
            }
        }
    }

    .item-container:hover{
        
        cursor: pointer;
    }

}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.statistics {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background-color: #38312e;
    border: 2px solid white;
    border-radius: 10px 10px 0px 0px;
    left: 50%;
    transform: translateX(-50%);

    *{
        margin: 0;
    }
}

.texts{
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    text-wrap: nowrap;

    #cps-text, #cpc-text{
        color: rgb(255, 203, 48);
        text-shadow: 0px 0px 3px rgb(168, 134, 31);
    }
    
    .extra-info{
        font-size: 12px;
        font-weight: normal;
        line-height: 15px;
        color: aquamarine;
    }
}

.util-buttons{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 10px;

    .util-button{
        padding: 8px 15px;
        font-size: 16px;
        font-weight: 600;
        font-family: inherit;
        border-radius: 6px;
    }

    .util-button:hover{
        opacity: 0.7;
        cursor: pointer;
    }
}

.pop-up-anchor{
    position: fixed;
    width: 0px;
    height: 0px;
    background-color: aqua;
    pointer-events: none;

    .item-info{
        position: absolute;
        left: 0px;
        padding: 5px 5px;
        color: white;
        background-color: #3e1706;
        height: 80px;
        width: 100px;
        text-align: center;
        border-radius: 3px;
        line-height: 1.2;
        display: none;
        pointer-events: none;

        p{
            margin: 0;
        }
        
    }
}

.notification-anchor{
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #00000000;
    background-color: #f1f1f100;
    height: 20px;
    width: 100px;

    .notification{
        position: absolute;
        font-size: 20px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        text-wrap: nowrap;
        text-shadow: 0px 0px 3px rgb(0, 0, 0);

        color: #f1f1f1;
        transition: top 0.15s ease-out;
    }

    #notification-template{
        visibility: hidden;
    }
}

.notification-text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.click-effect{
    color: white;
    position: absolute;
    font-size: 15px;
    pointer-events: none;
}

.click-effect.critical{
    color: rgb(255, 70, 70);
    font-size: 20px;
    z-index: 1000;
}

.fade-up{
    animation: fade-up 1s ease-out 0s 1 normal forwards;
}

@keyframes fade-up{
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100% {
        transform: translateY(-65px);
        opacity: 0;
    }
}

.template{
    position: absolute;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: #555;
}

::-webkit-scrollbar-thumb{
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover{
    background-color: white;
}